<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Rodrigo Guinovart y Lourdes Cobo-Reyes.
</p>
<img src="/images/lourdes.jpg" />
<img src="/images/rodri.jpg" />

<a href="https://github.com/rcguinovart"> GITHUB </a>
